h1
{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}
p1
{
    font-size: 15px;
    
    font-family: Nunito;
}

p2
{
    font-size: 15px;
    font-family: Nunito; 
}



body
{
    background-color: azure;
}

h2
{
		font-size:18px;
		font-family: Nunito;
}
.hidden
{
    display:none;
}
.Navigationbar  {
    background-color: #0d697e;
    overflow: hidden;
  }
  .Navigationbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 17px;
  }
  .Navigationbar a:hover {
    background-color: #12caa9;
  }

