h1
{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}
p1
{
    font-size: 15px;
    
    font-family: Nunito;
}

p2
{
    font-size: 15px;
    font-family: Nunito; 
}



body
{
    background-color: azure;
}

h2
{
		font-size:18px;
		font-family: Nunito;
}
.hidden
{
    display:none;
}